{% for plumber in plumbers %}

<tr>

    <td data-label="SR">
        {{ forloop.counter }}
    </td>

    <td data-label="Plumber">
        {{ plumber.name|title }}
    </td>

    <td data-label="History">

        <a href="{% url 'plumber_purchase_history' plumber.id %}" class="progress-btn">

            <i class="bi bi-clock-history"></i>

            View History

        </a>

    </td>

</tr>

{% empty %}

<tr>

    <td colspan="3" class="empty">
        No plumber found.
    </td>

</tr>

{% endfor %}